.navbar {
    box-sizing: border-box;
    /* box-shadow: 0 0 20px rgb(120, 118, 248); */
    box-shadow: 0 8px 6px -6px rgb(120, 118, 248);
}

/* .logo h1{
    background-image: linear-gradient(90deg, rgb(188, 187, 255) 0%, rgb(87, 85, 255)  100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */